@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply relative flex items-center justify-center
                h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
                bg-gray-800 text-green-500
                hover:bg-green-600 hover:text-white
                rounded-3xl hover:rounded-xl
                transition-all duration-300 ease-linear
                cursor-pointer;
  }
  .nav-icon-logout {
    @apply relative flex items-center justify-center
                h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
                bg-gray-800 text-green-500
                hover:bg-red-600 hover:text-white
                rounded-3xl hover:rounded-xl
                transition-all duration-300 ease-linear
                cursor-pointer;
  }
  .nav-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
            rounded-md shadow-md
            text-white bg-gray-900
            text-xs font-bold
            transition-all duration-100 scale-0 origin-left;
  }
  .login-box {
    @apply m-2 rounded-md shadow-md
            text-white bg-gray-900
            text-base font-bold;
  }
  .login-text {
    @apply relative m-2 mt-2 mb-2 rounded-md shadow-md text-center
            text-green-500 bg-gray-700 placeholder-green-500
            focus:bg-green-600 focus:text-gray-900 focus:placeholder-gray-900
            text-xs font-bold;
  }
  .login-button {
    @apply relative flex items-center justify-center text-sm
                h-10 w-20 mt-2 mb-2 mx-auto shadow-lg
                bg-gray-800 text-green-500
                hover:bg-green-600 hover:text-white
                rounded-3xl hover:rounded-xl
                transition-all duration-300 ease-linear
                cursor-pointer;
  }
  .messages{
    @apply bg-gray-900 text-white shadow-lg w-72 h-auto 
    m-2 rounded-md
    text-base font-bold
  }
}
